     <div class="page-fixed-main-content">
        <div class="row">
          <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered" style="margin-bottom: 0px;padding-right: 15px;padding-left: 15px;">
              <div class="portlet-title" style="height:55px;">

                <div class="caption caption-md font-blue">
                  <i class="icon-share font-blue"></i>
                  <span class="caption-subject theme-font bold uppercase"> Conversations</span>
                </div>

                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </div>
              <div class="portlet-body">

                <div class="scrollbar-dynamic" data-jquery-scrollbar="jqueryScrollbarOptions" style="height: 500px; padding-right: 0px;width: 324px;" data-always-visible="1" data-rail-visible="0">
                  <ul class="feeds">
        <div ng-repeat="conv in convs  | orderBy: 'lastTimeActive':true">
                    <li style="background-color: #E4E4E4; width:98%;" ng-if="conv.status != 'read' ">
                      <a ng-click="showChat(conv)">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <img  style=" height:60px; width:60; " class=" img-circle" alt="" src="../../assets/admin/layout/img/male3-512.png"/>
                          </div>
                          <div class="cont-col2" style="  display: table; height: 60px;">

                            <div  class="desc" style=" color:black; display: table-cell; vertical-align:middle;padding-left: 68px;">
                               {{conv.udid}}
                               <div  style=" color:#8E8E8E; padding-left: 20px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; width: 240px;">
                               {{conv.lastMessage[0].body}}
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div style="color:#7B7171" class="date">
                            {{conv.lastTimeActive  |  date: "HH:MM" }}
                        </div>
                      </div>
                      </a>
                    </li>
                      <li style="width:98%;" ng-if="conv.status == 'read' ">
                      <a ng-click="showChat(conv)">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <img  style=" height:60px; width:60; " class=" img-circle" alt="" src="../../assets/admin/layout/img/male3-512.png"/>
                          </div>
                          <div class="cont-col2" style="  display: table; height: 60px;">

                            <div  class="desc" style=" color:black; display: table-cell; vertical-align:middle;padding-left: 68px;">
                               {{conv.udid}}
                               <div  style=" color:#8E8E8E; padding-left: 20px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; width: 240px;">
                               {{conv.lastMessage[0].body}}
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div  style="color:#7B7171" class="date">
                           {{conv.lastTimeActive  |  date: "HH:MM" }}
                        </div>
                      </div>
                      </a>
                    </li>
</div>
                </div>

                <div class="scroller-footer">
                </div>
              </div>
            </div>
            <!-- END PORTLET-->
          </div>
          <div class="col-md-3" style="padding-left: 0px;padding-right: 0px;">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered" style="margin-bottom: 0px;padding-right: 15px;padding-left: 15px;">
              <div class="portlet-title" style=" height: 55px; ">
                <div class="caption caption-md font-blue">
                  <i class="icon-share font-blue"></i>
                  <span class="caption-subject theme-font bold uppercase">Handling</span>
                </div>

                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>

              </div>
              <div class="portlet-body">
                <div class="scrollbar-dynamic" style="height: 500px; padding-right: 0px;width: 324px;"  data-always-visible="1" data-rail-visible="0">
                  <ul class="feeds">

                    <div ng-repeat="conv in myConvs  | orderBy: 'lastTimeActive':true">
                    <li style="background-color: #E4E4E4; width:98%;" ng-if="conv.status != 'read' ">
                      <a ng-click="showChat(conv)">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <img  style=" height:60px; width:60; " class=" img-circle" alt="" src="../../assets/admin/layout/img/male3-512.png"/>
                          </div>
                          <div class="cont-col2" style="  display: table; height: 60px;">

                            <div  class="desc" style=" color:black; display: table-cell; vertical-align:middle;padding-left: 68px;">
                               {{conv.udid}}
                               <div  style=" color:#8E8E8E; padding-left: 20px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; width: 240px;">
                               {{conv.lastMessage[0].body}}
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div style="color:#7B7171" class="date">
                            {{conv.lastTimeActive  |  date: "HH:MM" }}
                        </div>
                      </div>
                      </a>
                    </li>
                      <li style="width:98%;" ng-if="conv.status == 'read' ">
                      <a ng-click="showChat(conv)">
                      <div class="col1">
                        <div class="cont">
                          <div class="cont-col1">
                            <img  style=" height:60px; width:60; " class=" img-circle" alt="" src="../../assets/admin/layout/img/male3-512.png"/>
                          </div>
                          <div class="cont-col2" style="  display: table; height: 60px;">

                            <div  class="desc" style=" color:black; display: table-cell; vertical-align:middle;padding-left: 68px;">
                               {{conv.udid}}
                               <div  style=" color:#8E8E8E; padding-left: 20px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; width: 240px;">
                               {{conv.lastMessage[0].body}}
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2">
                        <div  style="color:#7B7171" class="date">
                           {{conv.lastTimeActive  |  date: "HH:MM" }}
                        </div>
                      </div>
                      </a>
                    </li>
</div>

                    </ul>


                </div>
                <div class="scroller-footer">
                </div>
              </div>
            </div>
            <!-- END PORTLET-->
          </div>
           <div class="col-md-6 chattingBox" style="border: 1px solid #e1e1e1 !important;">
            <!-- BEGIN PORTLET-->
            <div class="portlet light " style="padding-left: 20px;  padding-right: 10px;padding-bottom: 17px;margin-bottom: 0px;">
              <div class="portlet-title" style="height: 55px; ">
                <div class="caption">
                  <i class="icon-bubble font-red-sunglo"></i>
                  <span class="caption-subject font-red-sunglo bold uppercase">Chats</span>
                </div>

              </div>
              <div class="portlet-body" id="chats">
                <div class="scrollbar-dynamic" style="height: 439px;" data-always-visible="1" data-rail-visible1="1">
                  <ul class="chats">
                    <li class="in">
                      <img class="avatar" alt="" src="../../assets/admin/layout/img/avatar1.jpg"/>
                      <div class="message">
                        <span class="arrow">
                        </span>
                        <a href="javascript:;" class="name">
                        Bob Nilson </a>
                        <span class="datetime">
                        at 20:09 </span>
                        <span class="body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                      </div>
                    </li>
                    <li class="out">
                      <img class="avatar" alt="" src="../../assets/admin/layout/img/avatar2.jpg"/>
                      <div class="message">
                        <span class="arrow">
                        </span>
                        <a href="javascript:;" class="name">
                        Lisa Wong </a>
                        <span class="datetime">
                        at 20:11 </span>
                        <span class="body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                      </div>
                    </li>
                    <li class="in">
                      <img class="avatar" alt="" src="../../assets/admin/layout/img/avatar1.jpg"/>
                      <div class="message">
                        <span class="arrow">
                        </span>
                        <a href="javascript:;" class="name">
                        Bob Nilson </a>
                        <span class="datetime">
                        at 20:30 </span>
                        <span class="body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                      </div>
                    </li>
                    <li class="out">
                      <img class="avatar" alt="" src="../../assets/admin/layout/img/avatar3.jpg"/>
                      <div class="message">
                        <span class="arrow">
                        </span>
                        <a href="javascript:;" class="name">
                        Richard Doe </a>
                        <span class="datetime">
                        at 20:33 </span>
                        <span class="body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                      </div>
                    </li>
                    <li class="in">
                      <img class="avatar" alt="" src="../../assets/admin/layout/img/avatar3.jpg"/>
                      <div class="message">
                        <span class="arrow">
                        </span>
                        <a href="javascript:;" class="name">
                        Richard Doe </a>
                        <span class="datetime">
                        at 20:35 </span>
                        <span class="body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                      </div>
                    </li>
                    <li class="out">
                      <img class="avatar" alt="" src="../../assets/admin/layout/img/avatar1.jpg"/>
                      <div class="message">
                        <span class="arrow">
                        </span>
                        <a href="javascript:;" class="name">
                        Bob Nilson </a>
                        <span class="datetime">
                        at 20:40 </span>
                        <span class="body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                      </div>
                    </li>
                    <li class="in">
                      <img class="avatar" alt="" src="../../assets/admin/layout/img/avatar3.jpg"/>
                      <div class="message">
                        <span class="arrow">
                        </span>
                        <a href="javascript:;" class="name">
                        Richard Doe </a>
                        <span class="datetime">
                        at 20:40 </span>
                        <span class="body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                      </div>
                    </li>
                    <li class="out">
                      <img class="avatar" alt="" src="../../assets/admin/layout/img/avatar1.jpg"/>
                      <div class="message">
                        <span class="arrow">
                        </span>
                        <a href="javascript:;" class="name">
                        Bob Nilson </a>
                        <span class="datetime">
                        at 20:54 </span>
                        <span class="body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet. </span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="chat-form">
                  <div class="input-cont">
                    <input class="form-control" type="text" placeholder="Type a message here..."/>
                  </div>
                  <div class="btn-cont">
                    <span class="arrow">
                    </span>
                    <a href="" class="btn blue icn-only">
                    <i class="fa fa-check icon-white"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- END PORTLET-->
          </div>

        </div>
      </div>