<ul class="dropdown-menu-v2">
              <div class="portlet-body">
                <div class="scrollbar-dynamic">
                <li class="external">
                  <h3><span class="bold ng-binding">0  unread</span> Messages</h3>
                </li>
                <li>
                  <ul style="height: 250px; padding: 0;overflow-y:scroll;" class="dropdown-menu-list scroller" data-handle-color="#637283">
                    <!-- ngRepeat: conv in myConvs | orderBy: 'lastTimeActive':true --><li style="" class="ng-scope" s="" ng-repeat="conv in myConvs | orderBy: 'lastTimeActive':true">
                      <a href="javascript:;">
                        <span class="details ng-binding">
                          <span style="background-color: null" class="label label-sm label-icon ">
                            <img style=" height:40px; width:40;" class=" img-circle" alt="" src="../../assets/admin/layout/img/male3-512.png">
                          </span>
                          55555
                          <br>
                          وكمان مرة
                        </span>
                        <span class="time ng-binding">null</span>
                      </a>
                    </li><!-- end ngRepeat: conv in myConvs | orderBy: 'lastTimeActive':true --><li class="ng-scope" s="" ng-repeat="conv in myConvs | orderBy: 'lastTimeActive':true">
                      <a href="javascript:;">
                        <span class="details ng-binding">
                          <span style="background-color: null" class="label label-sm label-icon ">
                            <img style=" height:40px; width:40;" class=" img-circle" alt="" src="../../assets/admin/layout/img/male3-512.png">
                          </span>
                          33333
                          <br>
                          وهلا والله
                        </span>
                        <span class="time ng-binding">null</span>
                      </a>
                    </li><!-- end ngRepeat: conv in myConvs | orderBy: 'lastTimeActive':true --><li class="ng-scope" s="" ng-repeat="conv in myConvs | orderBy: 'lastTimeActive':true">
                      <a href="javascript:;">
                        <span class="details ng-binding">
                          <span style="background-color: null" class="label label-sm label-icon ">
                            <img style=" height:40px; width:40;" class=" img-circle" alt="" src="../../assets/admin/layout/img/male3-512.png">
                          </span>
                          9999
                          <br>
                          هلا يا سعادتك
                        </span>
                        <span class="time ng-binding">null</span>
                      </a>
                    </li><!-- end ngRepeat: conv in myConvs | orderBy: 'lastTimeActive':true --><li class="ng-scope" s="" ng-repeat="conv in myConvs | orderBy: 'lastTimeActive':true">
                      <a href="javascript:;">
                        <span class="details ng-binding">
                          <span style="background-color: null" class="label label-sm label-icon ">
                            <img style=" height:40px; width:40;" class=" img-circle" alt="" src="../../assets/admin/layout/img/male3-512.png">
                          </span>
                          05999
                          <br>
                          براء عياش
                        </span>
                        <span class="time ng-binding">null</span>
                      </a>
                    </li><!-- end ngRepeat: conv in myConvs | orderBy: 'lastTimeActive':true --><li class="ng-scope" s="" ng-repeat="conv in myConvs | orderBy: 'lastTimeActive':true">
                      <a href="javascript:;">
                        <span class="details ng-binding">
                          <span style="background-color: null" class="label label-sm label-icon ">
                            <img style=" height:40px; width:40;" class=" img-circle" alt="" src="../../assets/admin/layout/img/male3-512.png">
                          </span>
                          4444
                          <br>
                          شيس
                        </span>
                        <span class="time ng-binding">null</span>
                      </a>
                    </li><!-- end ngRepeat: conv in myConvs | orderBy: 'lastTimeActive':true -->

                  </ul>
                </li>
                </div>
                </div>
              </ul>